// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin flex {
  display: -webkit-flex;
  display: flex;
}

@mixin centered-content-grid {
  display: inline-grid;
  justify-content: center;
  align-content: center;
}

@mixin normal-font($weight: normal, $letter-spacing: normal) {
  font-weight: $weight;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: $letter-spacing;
}

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to-screen($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media only screen and (min-width: #{$query}) {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}