// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin flex {
  display: -webkit-flex;
  display: flex;
}

@mixin centered-content-grid {
  display: inline-grid;
  justify-content: center;
  align-content: center;
}

@mixin normal-font($weight: normal, $letter-spacing: normal) {
  font-weight: $weight;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: $letter-spacing;
}