// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$base-font-size: 7px !default;

$primary-font: 'Roboto' !default;
$secondary-font: 'SFProDisplay' !default;

$text-color: #000000 !default;

$none: 0 !default;
$border-thin: 1px !default;
$border-thick: 2px !default;

$white-color: #FFFFFF !default;
$white-bg: #FFFFFF !default;

$smoke-bg: #f5f6fa !default;
$pale-bg: #FFFCF5 !default;
$medium-pale-bg: #ede3d8 !default;

$black-color: #000000 !default;
$black-bg: #000000 !default;
$black-hr: #d8d8d8 !default;

$light-dark: #E3E3E3 !default;
$medium-dark: #4a4a4a !default;

$light-gray: #f6f6f6 !default;
$medium-gray: #d8d8d8 !default;
$dark-gray: #333333 !default;

$see-through-black: rgba(0, 0, 0, 0.83);
$transparent-black: rgba(0, 0, 0, 0.39);

$success-color: #41B883 !default;   // this is the green color from Vue.js branding
$success-bg: #41B883 !default;
$success-states-color: #229863 !default;

$info-color: #68B3C8 !default;
$info-bg: #68B3C8 !default;
$info-states-color: #3091B2 !default;

$warning-color: #f5a623 !default;
$warning-bg: #f5a623 !default;
$warning-states-color: rgb(255, 153, 0) !default;

$danger-color: #d0021b !default;
$danger-bg: #d0021b !default;
$danger-states-color: rgb(170, 5, 5) !default;

$link-disabled-color: #666666 !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
$base-url: '/assets/' !default;