
body {
  font-family: $text-font-stack;
}
  
.content {

  .description {
    @include normal-font(normal, 0.7px); // font-weight, letter-spacing
    font-size: $base-font-size;
    color: $black-color;
  }

}
  
  