
// -----------------------------------------------------------------------------
// This file contains helper classes.
// -----------------------------------------------------------------------------

  
.center-text {
    text-align: center
}

.cursor-pointer {
    cursor: pointer;
}

.web-only {
    display: none;

    @media only screen and (min-width: map-get($breakpoints, 'medium')) {
      & {
          display: initial;
      }
    }
}

.mobile-only {
    @media only screen and (min-width: map-get($breakpoints, 'medium')) {
      & {
          display: none!important;
      }
    }
}