
// -----------------------------------------------------------------------------
// This file contains helper classes.
// -----------------------------------------------------------------------------

  
.center-text {
    text-align: center
}

.cursor-pointer {
    cursor: pointer;
}

.web-only {
    display: none;

    @include respond-to-screen('medium') {
      & {
          display: initial;
      }
    }
}

.mobile-only {
    @include respond-to-screen('medium') {
      & {
          display: none!important;
      }
    }
}