

  
.listings {
    position: relative;
    font-family: $primary-font;
  
    .header {
      @include normal-font(normal, 1.1px); // font-weight, letter-spacing
      font-family: Phosphate-Inline;
      font-size: 10px;
      color: $black-color;

      @media only screen and (min-width: map-get($breakpoints, 'medium')) {
        & {
          background-color: transparent;
        }
      }

      .title {
        @media only screen and (min-width: map-get($breakpoints, 'medium')) {
          & {    
            font-family: SFUIText;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0px;
            color: $dark-gray;
          }
        }
      }
  
      .icon {
          &.shopping-cart {
            width: 10px;
            height: 10px;
            object-fit: contain;
            background-image: url($base-url + 'img/bag.svg');
            background-size: cover;

            @media only screen and (min-width: map-get($breakpoints, 'medium')) {
              & {
                width: 10.5px;
                height: 8px;
                background-image: url($base-url + 'img/cart.svg');
              }
            }
          }
      }

      .cart-notify {
        @include normal-font(500, normal); // font-weight, letter-spacing
        width: 10px;
        height: 10px;
        background-color: $warning-color;
        border-radius: 100%;  
        font-family: SFProDisplay;
        font-size: $base-font-size;
        text-align: center;
        color: $black-color;
        padding: 1px;
      }

      .cart-text {
        @include normal-font(500, 0px); // font-weight, letter-spacing
        font-family: SFUIText;
        font-size: 8px;
        color: $medium-dark;
      }
    }
  
    .description {
      @include normal-font(normal, 0.6px); // font-weight, letter-spacing
      font-size: $base-font-size;
      display: inline-block;
      color: $medium-dark;

      @media only screen and (min-width: map-get($breakpoints, 'medium')) {
        & {  
          font-family: SFUIText;
          font-size: $medium-font-size;  
          font-weight: 500;
          letter-spacing: 0px;
          text-align: left;
          color: $medium-dark;
        }
      }
    }
  
    .content {
      background-color: $medium-pale-bg;

      @media only screen and (min-width: map-get($breakpoints, 'medium')) {
        & {
          background-color: $smoke-bg;
        }
      }

      .title {
        @include normal-font(500, 0.7px); // font-weight, letter-spacing
        font-size: $base-font-size;
        color: $black-color;
      }
  
      .listing-container {
        overflow: hidden;
        margin-top: -13px;

        // .image-container {
        //   text-align: center;
        //   overflow: hidden;
  
        .image {
          width: 100%;
          height: 100%;
        }

        .description {
          z-index: 4;
        }

        .amount {
          @include normal-font(500, 0.7px); // font-weight, letter-spacing
          width: 52.5px;
          height: 10px;
          background-color: $see-through-black;
          font-size: $base-font-size;
          color: $white-color;
          z-index: 4;
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;
        }
        // }

        @media only screen and (min-width: map-get($breakpoints, 'medium')) {
          & {  
            font-family: SFUIDisplay;
            color: $white-color;
          }
  
          .overlay {
            box-shadow: 0 1px 0.5px 0 rgba(0, 0, 0, 0.05);
            background-color: rgba(0, 0, 0, 0.39);
            z-index: 2;
          }
  
          .amount {
            z-index: 4;
            font-size: 12px;
            font-weight: 500;
            background-color: transparent;
            letter-spacing: 0px;
            color: $white-color;
          }

          .description {
            z-index: 4;
            font-size: 8px;
            color: $white-color;
          }
  
          .btn-secondary {
            z-index: 4;
            font-size: 8px;
            width: 48.5px;
            height: 18px;
            border-radius: 1.5px;
            background-color: $white-bg;
            color: #333333;
          }
        }
  
      }

      .load-more {
        @include normal-font(500, 0px); // font-weight, letter-spacing
        width: 79px;
        height: 64.5px;
        font-family: SFUIText;
        font-size: 9px;
        color: $black-color;
        border: $border-thick solid $black-color;
        text-align: center;
      }

      .line {
        width: 90%;
        height: 1px;
        border-top: 1px solid $gray-line-color;
      }

      .follow {  
        font-family: SFUIText;
        font-size: $medium-font-size;
        text-align: center;
        width: 177.5px;
        height: 33px;
        background-color: $black-bg;
        color: $white-color;
      }
    }
}

